html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  margin-left: 25%;
  margin-top: 25%;
}
.wrapper {
  width: 400px;
  display: flex;
  flex-flow: column nowrap;
}
.calc-button-row {
  display: flex;
}
/* Button width */
button {
  flex-basis: 25%;
  height: 100px;
  color: black;
  font-size: 40px;
  background-color: #d8d9db;
  border: 1px solid black;
}
button:hover {
  background-color: #ebebeb;
}
button:active {
  background-color: #bbbcbe;
}
.double {
  flex-grow: 2;
}
.triple {
  flex-grow: 3;
}
/* End Btn width */
.screen {
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  color: white;
  font-size: 40px;
  padding: 20px 5px;
}

.calc-button:last-child {
  background-color: #df882b;
  color: white;
}
.calc-button:last-child:hover {
  background-color: #dfb07e;
}
.calc-button:last-child:active {
  background-color: #dd8d37;
}
